* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: #e3eefd;
  font-family: "poppins";
}
.main-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;
  padding: 1rem;
}
/* left section  */
.left {
  flex-grow: 4;
  padding: 1rem;
  height: 100%;
}
.left-navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.heading_1 {
  font-size: 1.2rem;
  font-weight: 600;
  color: rgb(45, 45, 45);
}
.nav-button {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  border: none;
  cursor: pointer;
  color: #959CA4;
  gap: 3px;
  font-weight: 700;
}
.nav-links {
  display: flex;
  align-items: center;
  gap: 2rem;
  list-style-type: none;
}
.nav a {
  text-decoration: none;
  font-weight: 600;
  color: #959CA4;
  font-size: 15px;
}

.first-section {
  display: flex;
  align-items: center;
  width: 100%;
  margin-top: 1rem;
}
.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 20rem;
  width: 100%;
  gap: 1.2rem;
}
.box-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 1rem;
  height: 100%;
  width: 100%;
}
.box {
  background-color: white;
  height: 100%;
  width: 100%;
  border-radius: 0.5rem;
  display: flex;
  align-items: start;
  justify-content: start;
  flex-direction: column;
  padding: 1rem;
  gap: 1rem;
}
.box1 {
  width: 70%;
}
.box2, .box3, .box4, .box5 {
  gap: 0;
  padding: 0.7rem;
}
.first-con, .second-con, .third-con {
  background-color: #959CA4;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: white;
  padding: 0.5rem;
}
.con {
  display: flex;
  align-items: center;
  gap: 10px;
}
.first-con .image {
  background-color: #e3eefd;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 100%;
  padding: 0.5rem
}
.first-con .image img {
  height: 25px;
  width: 25px;
}
.content p {
  font-weight: 600;
  color: rgb(45, 45, 45);
}
.content span, .content-2 p {
  color: #959CA4;
  font-weight: 500;
  font-size: 15px;
}
.content-2 {
  text-align: right;
}
.content-2 span {
  font-weight: 500;
  color: rgb(45, 45, 45);
}
.con-button {
  background-color: #0B99FF;
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 5px;
  color: white;
  font-size: 15px;
}
.second-content-2 {
  text-align: left;
}
.second-content-2 span {
  font-weight: 500;
  color: rgb(45, 45, 45);
}
.second-content-2 p {
  color: #959CA4;
  font-weight: 500;
  font-size: 15px;
}
.second-con-button {
  background-color: #e3e3e3;
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 5px;
  font-size: 15px;
  color: rgb(36, 36, 36);
}



.second-section {
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 1rem;

}
.container_2 {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  background-color: white;
  height: 10rem;
  border-radius: 10px;
  gap: 1rem;
  padding: 1rem;
  width: 100%;
}
.container_2 .box {
  background-color: #959CA4;
}


/* right section  */
.right {
  display: flex;
  align-items: start;
  flex-direction: column;
  flex-grow: 1;
  padding: 1rem;
  height: 100%;
  gap: 1rem;
}
.right-navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}
.section-1 {
  display: flex;
  align-items: start;
  justify-content: start;
  background-color: #0B99FF;
  border-radius: 10px;
  width: 100%;
  padding: 1rem;
  flex-direction: column;
  gap: 3rem;
}
.right-box {
  width: 100%;
  height: 10rem;
  background-color: white;
  border-radius: 10px;
}
.section-2 {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 1rem;
}
.right-content-2 p {
  color: #b8dfff;
  font-weight: 600;
  font-size: 15px;
}
.right-content-2 span {
  font-weight: 500;
  color: white;
  font-size: 1.3rem;
}
.right-con {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}
.right-con .image img {
  height: 4rem;
  width: 5rem;
}
.right-content-1 p {
  color: #b8dfff;
  font-size: 13px;
  font-weight: 600;
}
.right-con-2 {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.right-content-1 span {
  color: #e0f2ff;
  font-weight: 600;
  font-size: 14px;
}
.second-con-button-2 {
  background-color: transparent;
  border: 1px solid rgb(217, 241, 255);
  color: white;
  padding: 0.5rem 1.6rem;
}